.tableMain {
  border-collapse: collapse;
  width: 100%;
}

.tableMain th {
  text-align: center;
  padding: 3px;
}

.tableMain tr {
  text-align: left;
  padding: 3px;
}

.tableMain tr:nth-child(odd) {
  background-color: #f2f8f283;
}

.tableMain tr:hover {
  background-color: #f2f8f2;
}

.centerIt {
  align-self: center;
  max-width: var(--screen-width);
  min-width: 50vw;
  border: 1px solid #378d3310;
  padding: 0 1rem;
  background: #378d3310;
  color: #1f745a;
}

.centerList {
  align-self: center;
  max-width: min(500px, var(--screen-width));
  border: 1px solid #378d3310;
  padding: 0 1rem;
  background: #378d3310;
  color: #1f745a;
}

.centerBox {
  align-self: center;
  max-width: min(300px, var(--screen-width));
  border: 1px solid #378d3310;
  padding: 0 1rem;
  background: #378d3310;
  color: #1f745a;
  text-align: center;
}

.navbar {
  border: 1px solid #378d3310;
  padding: 0 1rem;
  background: #f2f8f2;
  color: #1f745a;
  text-align: center;
  position: sticky;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
}

/*removes bullets from list*/
.cleanList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  width: 100%;
}

/*aligns item to the left*/
.linkContL {
  float: left;
  padding-right: 5rem;
}

/*aligns item to the middle*/
.linkContM {
  float: left;
  padding-right: 2rem;
}

/*aligns item to the right*/
.linkContR {
  float: right;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.frost {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.31);
}

.header {
  display: flex;
  flex-direction: column;
  padding: 4rem 0rem 2rem 0rem;
  text-align: center;
  gap: 2rem;
}

.header h1 {
  max-width: 620px;
  align-self: center;
}

.body {
  composes: frost;
  border-radius: var(--border-radius);
  display: flex;
  padding: 1rem;
  width: 100%;
  flex-direction: row;
  align-self: center;
  max-width: min(800px, var(--screen-width));
}

.instructions {
  display: inline-flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.globe {
  position: fixed;
  width: 350vmin;
  height: 75vmin;
  left: 20%;
  top: 50%;
  transform: translate(-50%, calc(-50% + 40px));
  z-index: -1;
  border-radius: 100%;
  background-image: radial-gradient(
    95.63% 95.63% at 95.92% 0%,
    rgba(255, 255, 255, 0.62) 0%,
    #378d3338 60.42%,
    #2b83465c 169%
  );
  filter: blur(8vmin);
}

.footer {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.footer span {
  margin-right: 0.2rem;
}

.code {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.code span {
  background: #1f745ba2;
  border-radius: 50rem;
  font-size: 14px;
  font-weight: 500;
  padding: 17px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #145a61;
}

.code pre {
  background: #1f745a30;
  border-radius: 4px;
  padding: 0.7em 1.4em;
  text-align: center;
}

.code code {
  font-size: 0.86em;
  font-weight: bold;
  color: #145a61;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.toastContainer {
  border: 1px solid #378d3310;
  padding: 0 1rem;
  background: #378d3310;
  color: #1f745a;
  text-align: center;
}

.toastContainer strong {
  color: #145a61;
}

.textLink {
  color: #378d33;
  background:
  linear-gradient(to right, #6ebd59, #6ebd59),
  linear-gradient(to right, #378d33, #2b8346, #1f745a);
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.textLink:hover,
.textLink:focus,
.textLink:active {
  background-size: 0 1px, 100% 1px;
}

.arrowIcon {
  box-sizing: border-box;
  display: block;
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  transform: scale(var(--ggs, 1));
  border-right: 2px solid;
  position: absolute;
  right: 6px;
  top: 6px;
  color: #a5c4b1;
}

.arrowIcon::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 2px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 2px;
  right: -1px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.button {
  background: linear-gradient(to top, #378d33, #1f745a);
  border: 1px solid rgb(231, 216, 246);
  color: white;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  padding: 0 24px;
  height: 48px;
  width: 200px;
  max-width: 300px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  user-select: none;
  white-space: nowrap;
  border-radius: 0.75rem;
  border-bottom-left-radius: 0px;
  font-size: 15px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.button:hover {
  color: white;
  text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
  box-shadow: #145a6180 0px 1px 40px;
}

.loginButton {
  composes: button;
  background: rgb(248 250 252);
  border: 1px solid rgb(231, 216, 246);
  color: #145a61;
  text-shadow: none;
}

.loginButton:hover {
  color: rgb(30 41 59);
  text-shadow: none;
}

.card:hover .arrowIcon {
  color: #378d33;
}

.linkGrid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  composes: frost;
  padding: 1rem 0rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card:hover,
.card:focus,
.card:active {
  color: #2b8346;
  border-color: #2b8346;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  flex: 1;
  padding: 1rem 2rem;
}

.logo svg {
  height: 100%;
  width: 200px;
  fill: #2b8346;
}

/* MOBILE */
@media (max-width: 800px) {
  .linkGrid {
    width: 100%;
  }

  .card {
    max-width: 100%;
  }

  .body {
    flex-wrap: wrap;
  }

  .buttonContainer {
    flex-wrap: wrap;
  }
}
